html {
  --all-round-radius: 9999px;
}

.toggle {
  --w: 65px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);

  border: none;
  width: var(--w);
  height: var(--w);
  border-radius: var(--all-round-radius);
  @include cwf("xy");
  background-color: $white;
  box-shadow: 0 0 4px rgb(0 0 0 / 8%);

  .toggleIcon {
    display: block;
    stroke-width: 3px;
  }
}

.btn {
  border: none;
  background-color: $white;
  @include cwf("y");
  gap: 8px;
  border-radius: var(--all-round-radius);
  box-shadow: 0 0 4px rgb(0 0 0 / 8%);
  height: 40px;
  padding: 14px;
}
